table {
    width: 100%;
    border: 1px solid;
    border-spacing: 0px;
    border-collapse: separate;
    min-width: max-content;
    table-layout: fixed;
  }
  
  tbody {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  th {
    position: sticky;
  }

  tr {
    width: 100%;
  }
  
  tr:hover {
    background-color: rgba(84, 83, 83, 0.7);
  }

  th,
  td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    width: 100px;
    overflow: hidden;
  }
  
  .sort-button {
    background-color: transparent;
    border: none;
  
    padding: 5px 10px;
    margin: 0;
    line-height: 1;
    font-size: 12px;
    cursor: pointer;
  
    transition: transform 0.05s ease-out;
  }
  
  .sort-reverse {
    transform: rotate(180deg);
  }

  .table-wrapper {
    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    margin: 20px;
    max-height: 300px;
  }

  .headcol {
    position: absolute;
  }